
#header {
    text-align: center;
    padding: 5px;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: orange;
    border-radius: 5px;
    position: relative;
}

#sidebar{
    background-color: coral;
    color: white;
    padding: 2px;
    margin: 2px;
    border-radius: 5px;
}

#sidebar li{
    display: inline;
    padding: 10px;
}
.blogpost{
    text-align: left;
    padding: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: peachpuff;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    margin: 5px;
    border-radius: 5px;

}

.blogpost h2{
    text-align: center;
}

.blogpost small{
    color: blue;
}

.form{
    margin-left: 30%;
    padding: 20px;
    border: 1px;
    border-radius: 5px;
    border-color: red;
    background-color: rgb(230, 230, 230);
    width: 40%;
    text-align: center;
    border-style: solid;
    border-color: gray;
}

.form button{
    background-color: rgb(2, 252, 85);
    font-size: large;
    margin-top: 10px;
    margin-left: auto;
}

#footer{
    text-align: center;
    color: rgb(255, 145, 0);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0;
    margin: 2px;
    width: 100%;
}